.grey-background{
    background-color: #484848;
}

.white-text, a{
    color:#fafafa;
}

.big-box{
    height:100vh;
    width:100vw;
}
.align-items-center{
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.flex-around{
    justify-content: space-between;
}

.portfolio{
    background-color: red;
}