body{
    overflow-x: hidden;
    background-color: #536872;
}
.underline{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:#000000
}
.grey-background{
    background-color: #536872;
}
.light-background{
    background-color: #c6e3e4 ;
}
.header-background{
    background-color: #69685d ;
}

.white-text, a{
    color:#fafafa;
}
.black-text, .black-text a{
    color:#36454f
}
a:hover, .black-text a:hover{
    color:#989898;
    text-decoration:none;
}

.bold{
    font-weight: 700;
}

.padding{
    padding:50px;
}
.padding-big{
    padding: 60px;
}

.big-box{
    height:100vh;
    width:100vw;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.align-items-center{
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.flex-around{
    justify-content: space-around;
}
.flex-between{
    justify-content: space-between;
}

.portfolio{
    background-color: #536872 ;
    transform-origin: left;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.hide{
    transform: scale(0,1);
    height: 0;
    width: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-fig{
    width:100%;
    height:auto;
    overflow: hidden;
}

.screenshot{
    width:100%;
    height:auto;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.screenshot:hover{
    transform: scale(1.05,1.05);
    opacity: 0.8;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}